.projetos_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
    min-height: 100vh;
}
.projetos_title{
    color: var(--color-primary);
    text-align: center;
    padding-top: 3rem;
    height: 9rem;
    font-size: 1.5rem;
}
.projetos_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

@media (max-width: 1024px){
    .projetos_content{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem 0;
        width: 100%;
    }
}