.especialidades_content{
    color: var(--color-primary);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    min-height: 100vh;
}

.especialidades_content h1{
    padding-top: 4rem;
    margin-bottom: 7rem;
    font-size: 3rem;
}
.especialidades_content_cards_card{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6rem;
}

.especialidades_content_cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px){
    .especialidades_content_cards_card{
        grid-template-columns: repeat(1, 1fr);
        width: 23rem;
        padding-left: 0.5rem;
    }
}