*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.Container{
    padding-right: 10rem;
    padding-left: 10rem;
}
body{
  background-color: #111111;  
}
@media (max-width: 1024px) {
    .Container{
        padding-right: 1rem;
        padding-left: 1rem;
        overflow: hidden;
    }
}