.home__content{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_content_text{
    width: 30rem;
    text-align: justify;
    padding: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home_content_text h1{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}
.home_content_text p{
    font-size: 1.1rem;
    color: #fff;
    font-weight: 200;
}
.home_content_text span{
    color: #16CD13;
}
.div_btn{
    display: flex;
    gap: 10px;
}
.div_btn button{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #16CD1350;
    cursor: pointer;
}
.div_btn button:hover{
    background-color: #16CD13;
}
@media (max-width: 1024px){
    .home__content{
        width: calc(100%);
    }
    .home_content_container{
        flex-direction: column-reverse;
    }
    .home_content_text{
        width: 23rem;
    }
    .home_divisor{
        display: none;
    }
    
}