.boxEspecialidades{
    height: 8rem;
    width: 8rem;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #16CD13;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #343534;
    border-radius: 50px 0px 20px 0px;
}
.title{
    margin-bottom: 5px;
    margin-top: 7px;
    font-weight:700;
    font-size: 0.9rem;
}
.icon{
    font-size: 65px;
    color: #16CD13;
}
@media (max-width: 1024px){
    .boxEspecialidades{
        width: 21rem;
    }
}