.experiencia{
    min-height: 70vh;
}
.experiencia__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
    position: relative;
}

.experiencia_content{
    padding-top: 2.1rem;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

@media (max-width: 1024px){
    .experiencia{
        padding-bottom: 2.8rem;
    }
    .experiencia__container{
        margin-bottom: 5rem;
        grid-template-columns: 1fr;
    }
}