.boxEsperiencia{
    width: 100%;
    text-align: justify;
    background-color: #2b2a2a;
    padding: 1rem;
    border-radius: 10px 20px 10px 20px;
    color: var(--color-primary);
    position: relative;
    overflow: hidden;
}
.date{
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
}
.icon_title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.icon{
    padding-bottom: 0.2rem;
}
.boxEsperiencia::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(0deg, transparent, var(--color-span), transparent);
    animation: rotateBorder 4s linear infinite;
    z-index: 0;
}

.boxEsperiencia::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: #2b2a2a;
    border-radius: inherit;
    z-index: 1;
}
.boxEsperiencia > *{
    position: relative;
    z-index: 2;
}

@keyframes rotateBorder{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}